----------
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Transactions</title>
	</head>
	<body>
		Hello {{ .Name }}. Your email is {{ .Email }} and your password is: {{ .Senha }}		
	</body>
</html>